{{template "base" .}}

{{define "title"}}
    Forgot password
{{end}}

{{define "content"}}
    <div class="container d-flex justify-content-center mt-5">
        <div class="w-100 mb-5" style="max-width: 400px;">
            <div class="alert d-none text-center" id="forgot-password-messages"></div>
            <form id="forgot_password_form"
                class="card p-4 shadow-sm needs-validation"
                novalidate>
                <h2 class="mt-2 text-center mb-4">Forgot password</h2>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" required autocomplete="email">
                </div>
                <div class="d-grid">
                    <button id="reset_btn" type="submit" class="btn btn-primary">Reset password</button>
                </div>
            </form>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        let csrfToken = '{{index .StringMap "csrf_token"}}';
        let deviceId = '{{index .StringMap "device_id"}}';
    </script>
    <script src="/static/js/forgot_password.js"></script>
{{end}}
