{{template "base" .}}

{{define "title"}}
    Home
{{end}}

{{define "content"}}

<hr>
<div class="text-center px-0">
    <img src="/static/img/wallpapers/fantasy3.jpg" alt="book" class="img-fluid rounded w-100" style="max-width: 1200px;">
</div>
<hr>

{{end}}
