{{define "base"}}
<!doctype html>
<html lang ="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>
            {{block "title" .}}
            {{end}}
        </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid px-3 px-lg-4">

                <button class="navbar-toggler border-0 shadow-none px-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <button class="btn btn-link nav-link p-1 border-0 ms-auto order-lg-last me-1 me-lg-2" onclick="toggleTheme()">
                    <img src="/static/img/icons/yin-yang.svg" alt="Toggle theme" width="24" height="24" id="theme-icon">
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/all-books">All Books</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Support
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/#!">Contact</a></li>
                                {{if .IsAuth}}
                                <li><a class="dropdown-item" href="/#!">Email</a></li>
                                {{end}}
                            </ul>
                        </li>
                        {{if .IsAdmin}}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/admin/all-users">Users</a></li>
                            </ul>
                        </li>
                        {{end}}
                        <li class="nav-item ms-lg-2 my-2 my-lg-0">
                            <form class="d-flex" role="search" id="search-wrapper" onsubmit="return false;">
                                <div class="dropdown w-100">
                                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="book-search" autocomplete="off">
                                    <div id="search-results" class="dropdown-menu w-100 p-0"></div>
                                </div>
                            </form>
                        </li>
                    </ul>

                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            {{if .IsAuth}}
                            <a class="nav-link" href="#!" onclick="logout()">Logout</a>
                            {{else}}
                            <a class="nav-link" href="/login">Sign in/up</a>
                            {{end}}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    {{block "content" .}}
                    {{end}}
                </div>
            </div>
        </div>

        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/theme.js"></script>
        <script>
            var isAuth = {{.IsAuth}};
            var userUUID = '{{.UserUUID}}';
        </script>
        <script src="/static/js/base.js"></script>

        {{block "js" .}}

        {{end}}
    </body>
</html>
{{end}}
