{{define "body"}}

<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <div>
        <p>Hello,</p>
        <p>Please click the link below to activate your account.</p>
        <p>The link expires in 30 minutes.</p>
        <p>
            <a href="{{.Link}}">Activate your account</a>
        </p>
        --
        <br>
        Dedu
        </p>
    </div>
</html>

{{end}}
